.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  font-family: 'Orbitron', sans-serif;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, calc(6 * var(--board-cell-size)));
  grid-template-rows: repeat(2, calc(4 * var(--board-cell-size)));
  grid-gap: 2px;
}

.rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: chocolate;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: chocolate;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.down {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: chocolate;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: chocolate;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: chocolate;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: purple;
  color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.result {
  position: absolute;
  top: calc(3 * var(--cell-size));
  width: calc(15 * var(--cell-size));
  height: calc(15 * var(--cell-size));
  background-color: rgba(0,255,0,0.8);
  padding: 20px;
}

.hidden {
  display: none;
}