.board {
    background-color: darkblue;
    flex: 0 0 auto;
  
    display: grid;
    align-content: space-between;
    justify-content: center;
    grid-template-columns: repeat(var(--board-num-cols), var(--board-cell-size));
    grid-template-rows: repeat(var(--board-num-rows), var(--board-cell-size));
    grid-gap: var(--board-gap);
}

.cell {
    background-color: black;
}

.c {
    background-color: cyan;
}

.y {
    background-color: yellow;
}

.p {
    background-color: purple;
}

.g {
    background-color: green;
}

.r {
    background-color: red;
}

.b {
    background-color: blue;
}

.o {
    background-color: orange;
}